# Auto detect text files and perform LF normalization
* text=auto

# Set C++ as language for .cpp files
*.cpp linguist-language=C++

# Exclude all files with .shader extension from ShaderLab detection
*.shader linguist-detectable=false

# Exclude html detection
*.html linguist-language=ignore

/vendor/* linguist-vendored
/node_modules/* linguist-vendored

*.tmp linguist-generated
/temp/* linguist-generated

/build/* linguist-generated
/dist/* linguist-generated

*.config linguist-vendored

/docs/* linguist-vendored
*.docx linguist-vendored

*.bin linguist-vendored
*.dat linguist-vendored
